{{- if .Values.serviceAccount.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "spring-playground.fullname" . }}-hazelcast
  labels:
    {{- include "spring-playground.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - endpoints
  - pods
  - services
  verbs:
  - get
  - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "spring-playground.fullname" . }}-hazelcast
  labels:
    {{- include "spring-playground.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "spring-playground.fullname" . }}-hazelcast
subjects:
- kind: ServiceAccount
  name: {{ include "spring-playground.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- end }}
