spring:
  config:
    import: optional:file:.env[.properties]

  application:
    name: playground

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/playground}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO:update}
    show-sql: ${JPA_SHOW_SQL:true}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: ${JPA_FORMAT_SQL:true}
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  cache:
    type: ${CACHE_TYPE:hazelcast}

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    com.khoa.spring.playground: ${LOG_LEVEL_APP:DEBUG}
    org.hibernate.SQL: ${LOG_LEVEL_SQL:DEBUG}
    org.hibernate.type.descriptor.sql.BasicBinder: ${LOG_LEVEL_BINDER:TRACE}
